.item {
    margin: 6px;
}

.education {
    margin: auto;
    width: 70%;
}

.education-item {
    display: flex;
    flex-direction: row;
}

.education-left-column {
    flex: 1;
    vertical-align: middle;
    margin: 20px;
}

.education-right-column {
    flex: 2;
    vertical-align: middle;
    margin: 20px;
}

.education-item {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.logo {
    width: 100%;
    margin-top: 10px;
}