.project {
    margin: auto;
    width: 90%;
}

.project-row {
    display: flex;
    flex-direction: row;
}

.project-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.project-item-left {
    background-color: lightskyblue;
}

.project-item-right {
    background-color: lightsalmon;
}

.project-details {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.project-details a {
    text-decoration: none;
    color: inherit;
}

.project-manpower {
    display: flex;
    align-items: center;
    flex: 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

.project-description {
    margin-top: 16px;
}

.project-video {
    width: 100%;
    margin-top: 10px;
}

.project-image {
    width: 100%;
    margin-top: 10px;
}

ol {
    margin: 0px;
}

.logo {
    height: 16px;
    margin-left: 4px;
}