.project {
    margin: auto;
    width: 90%;
}

.project-row {
    display: flex;
    flex-direction: row;
}

.project-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.project-item-left {
    background-color: lightskyblue;
}

.project-item-right {
    background-color: lightsalmon;
}

.project-details {
    display: flex;
    flex-direction: row;
}

.project-time {
    margin-right: 20px;
    flex: 1fr;
}

.project-manpower {
    display: flex;
    align-items: center;
}

.logo {
    height: 16px;
    margin-left: 4px;
}